@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind components;
@tailwind utilities;

*{

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.typewriter-wrapper {
  display: inline;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

.glitch {
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(31px, 9999px, 94px, 0);
  }
  4.166666667% {
    clip: rect(91px, 9999px, 43px, 0);
  }
  8.333333333% {
    clip: rect(33px, 9999px, 38px, 0);
  }
  /* ... more keyframes ... */
  100% {
    clip: rect(67px, 9999px, 78px, 0);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(96px, 9999px, 48px, 0);
  }
  4.166666667% {
    clip: rect(72px, 9999px, 30px, 0);
  }
  8.333333333% {
    clip: rect(5px, 9999px, 91px, 0);
  }
  /* ... more keyframes ... */
  100% {
    clip: rect(56px, 9999px, 27px, 0);
  }
}